{% extends 'pages/base.html' %}

{% block content %}
    





    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for post in posts %}
        <div class="col" style="padding: 10px;">
          <div class="card" style="max-width: 18rem; margin-top: 20px;">
            <a href = "{% url 'post_detail' post.pk %}" style="text-decoration: none;">
                <img src="{{ post.image.url }}" class="card-img-top" alt="..." style="max-width: 300px; max-height: 300px;">
            </a>
            
            <div class="card-body">
              <p class="card-text"><b>[{{post.author}}]</b>: {{ post.caption }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}